<div class="card-container">
  <div class="card">
    <div class="card-total-01">
      <h3>Total</h3>
    </div>
    <div class="card-line"></div>
    <div class="card-total-01">
      <p>Total: {{ todosRegistros }}</p>
    </div>
  </div>

  <div class="card">
    <div class="card-total-02">
      <h3>Ativos</h3>
    </div>
    <div class="card-line"></div>
    <div class="card-total-02">
      <p>Total: {{ registrosAtivos }}</p>
    </div>
  </div>

  <div class="card">
    <div class="card-total-03">
      <h3>Inativos</h3>
    </div>
    <div class="card-line"></div>
    <div class="card-total-03">
      <p>Total: {{ registrosInativos }}</p>
    </div>
</div>
