header {
  background-color: rgb(2, 70, 196);
  color: #fff;
  padding: 10px;
}

nav a {
  color: #fff;
  margin-right: 10px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}
