<div>
  <div fxLayout="row">
    <div fxFlex="50%">
      <h3>Grupos Disponíveis</h3>
      <ul>
        <li *ngFor="let grupo of gruposDisponiveis"
            [class.selected]="grupo === grupoSelecionado"
            (click)="selecionarGrupo(grupo)">
          {{ grupo.dsGrupocontato }}
        </li>
      </ul>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <button mat-raised-button color="primary" (click)="adicionarGrupo()">
        <mat-icon class="mat-18">chevron_right</mat-icon>
      </button>
      <button mat-raised-button color="warn" (click)="removerGrupo()">
        <mat-icon class="mat-18">chevron_left</mat-icon>
      </button>
    </div>
    <div fxFlex="50%">
      <h3>Grupos Selecionados</h3>
      <ul>
        <li *ngFor="let grupo of gruposSelecionados"
            [class.selected]="grupo === grupoSelecionado"
            (click)="selecionarGrupo(grupo)">
          {{ grupo.dsGrupocontato }}
        </li>
      </ul>
    </div>
  </div>
</div>
